{% extends 'base.html' %}

{% block titulo_conteudo %} Listagem de Clientes {% endblock %}

{% block conteudo %}  
<a href="{% url 'form_cliente' %}" class="btn btn-primary">Inserir Novo</a>
<a href="{% url 'cliente' %}" class="btn btn-primary">Recarregar</a>

<table style="margin-top:15px" class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">C.P.F</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col">Ações</th>  
        </tr>
    </thead>
    
    <tbody>
        {% for item in lista %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.cpf}}</td>
            <td>{{item.datanascimento}}</td>
            <td> 
                <a href="{% url 'novo_pedido' item.id %}" class="btn btn-primary btn-sm">Novo Pedido</a>
                <a href="{% url 'editar_cliente' item.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'remover_cliente' item.id %}" class="btn btn-danger btn-sm" 
                   onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</a>
            </td> 
        </tr>
        {% endfor %}
     </tbody>
</table>
{% endblock %}