{% extends "base.html" %}

{% block titulo_conteudo %} Ajuste de Estoque {% endblock titulo_conteudo %}

{% block conteudo %}
<div class="col-md-6">
    <div class="card card-custom">
        <div class="card-body card-body-custom">
            <p>
                <label class="fw-bold">Produto:</label> <br>
                <span class="form-control" disabled>{{ form.instance.produto.nome }}</span>
            </p>

            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="id_qtde" class="form-label">Quantidade:</label>
                    {{ form.qtde }}
                    {{ form.qtde.errors }}
                    {{ form.produto }}
                </div>

                <button class="btn btn-primary" type="submit">Salvar</button>
                <a href="{% url 'produto' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock conteudo %}