{% extends "base.html" %}

{% block titulo_conteudo %} Formulário de Produtos {% endblock titulo_conteudo %}

{% block conteudo %} 
<form method="post">
    {% csrf_token %}    
    
    {{ form.non_field_errors }}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <div class="mb-3">
        <label for="id_nome">Nome do Produto:</label>
        {{ form.nome }}
        {{ form.nome.errors }}
    </div>

    <div class="mb-3">
        <label for="id_preco">Preço do Produto:</label>
        {{ form.preco }}
        {{ form.preco.errors }}
    </div>

    <div class="mb-3">
        <label for="id_categoria_nome">Categoria:</label>
        <input type="text" 
            value="{{ form.instance.categoria }}" 
            class="form-control autocomplete" 
            id="id_categoria_nome" 
            data-url="{% url 'buscar_dados' 'home.Categoria' %}" 
            data-hidden="#id_categoria" 
            placeholder="Digite para buscar uma categoria...">
    </div>
    

    <fieldset class="fieldset mb-3">
        <label for="imagem">Imagem:</label>
        <input type="file" id="imagem" 
            name="imagem" 
            data-hidden="img_base64" 
            class="img_upload form-control" 
            accept="image/*"><br>

        <canvas class="canvas" id="imageCanvas" width="200" height="200"></canvas>
    </fieldset>

    <button class="btn btn-primary btn-sm" type="submit">Salvar</button>

</form>
{% endblock conteudo %}

{% block javascript %}
<script>
    $(document).ready(function() {

        // Inicializa a imagem no canvas se já existir
        $('.img_init').each(function() {
            const initialImageBase64 = $(this).val();
            const target_canvas = $(this).data('canvas');
            if (initialImageBase64) {
                loadImage(initialImageBase64,target_canvas);
            }
        });
        
        // Upload e conversão para Base64
        $('.img_upload').on('change', function(event) {
            const imagemInput = this.files[0]; 
            var hidden = $(this).data('hidden');
            if (imagemInput) {
                const reader = new FileReader();
                reader.readAsDataURL(imagemInput); 

                reader.onload = function() {
                    const imgBase64 = reader.result;
                    $('#'+hidden).val(imgBase64); 
                    var canvasTarget = $('#'+hidden).data('canvas'); 
                    loadImage(imgBase64,canvasTarget);
                };

                reader.onerror = function(error) {
                    console.log('Erro ao converter a imagem: ', error);
                };
            }
        });
    });
</script>
{% endblock javascript %}